#navbar {

    margin-bottom: 0;
    width: 100%;
    background: transparent;

    .container {
        display: inline-block;
    }

    form {
        margin: 0;
        display: inline-block;
    }

}

.navbar {
  position: absolute;

}

.navbar-default {
  border-color: transparent;
}

.navbar-form {
  padding: 30px;
}

.navbar-brand {
  height: 110px;
  padding: 30px;
}

.form-group {
  padding-right: 30px;
}
