$pallete-blue: #0CD3FE;
$pallete-green: #73E5D6;
$pallete-dark-grey: #7F7F7F;

h2 {
    margin: 0.5em 0;
}

.settings-sidebar {
    display: inline-block;
    vertical-align: top;

    ul {
        list-style: none;
        padding: 0px;
    }

    ul ul {
        padding-left: 20px;
    }

    a {
        text-decoration: none;
        color: #333;
    }

    a:hover {
        cursor: pointer;
    }
}

.settings-account-settings {
    display: inline-block;
    padding-left: 15px;
    width: 500px;

    input.form-control {
        margin-bottom: 10px;
    }

    h2 {
        color: $pallete-blue;
    }

    h3 {
        color: $pallete-dark-grey;
    }

    .error-message {
        border: 0.5px solid #a94442;
        border-radius: 20px;
        display: inline-block;
        padding: 1px 5px;
    }

    .success-message {
        border: 0.5px solid #28a745;
        border-radius: 20px;
        display: inline-block;
        padding: 1px 5px;
    }

    .btn, .btn:focus {
        outline: none;
    }
}
