.editPage {
    display: inline-block;
    padding-left: 15px;
}

.sidebar {
    display: inline-block;
    vertical-align: top;
}

.sidebarLabel {
    color: rgb(17, 132, 182);
    font-family: Arial, sans-serif;
    margin-bottom: 0.5em;
}


/* EditAccount */
.editAccountFormInput {
    height: 15px;
    margin-bottom: 10px;
}

.passwordSubmitButton {
    margin-top: 0;
}

